// pc
@include response("pc") {
  html {font-size: 55%;}
}

// TABLET
@include response("tablet") {
  html {font-size: 47%;}
}

// MOBILE
@include response("mobile") {
  .pc {display: none !important;}
  .mobile {display: block !important;}
  .innerWrap {padding: 0 2.4rem;}
}