/*===================================================================
* INFORMATION
* -------------------------------------------------------------------
* @File Name:variables.scss
* @Description : 모든 scss파일에서 사용할 변수에 대한 정의
* @Create Date: 2023-01-17
* @Last Update Date: N/A
* @History: N/A
* -------------------------------------------------------------------
* ====================================================================*/

$text-color: #333;
$light-yellow: #ffffd7;
$gray: #bbbbbb;
$blue: #939ac1;
$white: #fff;
