.btn{
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: $text-color;
  box-shadow: 0 0.8rem 2.4rem 0 rgba(0,0,0,0.1);
  border: none;
  border-radius: 0.8rem;
  &-primary{
    background-color: rgba(0, 92, 95,0.2);
    &:hover,&:focus,&:active,&:focus-visible{
      background-color: rgba(0, 92, 95,0.2) !important;
      color: $text-color !important;
      border-color: rgba(0, 92, 95,0.2) !important;
    }
  }
  &-secondary{
    background-color: rgba(68, 139, 184,0.2);
    &:hover,&:focus,&:active,&:focus-visible{
      background-color: rgba(68, 139, 184,0.2) !important;
      border-color: rgba(68, 139, 184,0.2) !important;
      color: $text-color !important;
    }
  }
  &-link{
    box-shadow: none;
    color: $text-color;
    &:hover,&:focus,&:active,&:focus-visible{
      color: $text-color !important;
    }
  }
}