.login{
  .formLabel,.form-label{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    cursor: default;
  }
  .form-text{
    color: $error !important;
  }
  input {
    display: block;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.8rem;
    border: none;
    box-shadow: 0 0.8rem 2.4rem 0 rgba(0,0,0,0.1);
    font-size: 1.6rem;
    &::placeholder{
      font-size: inherit;
      color: $placeholder;
      font-weight: 200;
    }
  }
  .btnWrap{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    &.notCenter {
      justify-content: flex-start;
    }
  }
}


@include response("mobile") {
  .login{
    .formLabel,.form-label{
      font-size: 1.5rem;
      margin-bottom: 0.8rem;
    }
    input {
      padding: 1rem;
      border-radius: 0.8rem;
      font-size: 1.2rem;
    }
    .btnWrap{
      gap: 1rem;
    }
  }
  
}