header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  padding: 0 2.4rem;
  background-color: #fff;
  z-index: 10;
  .lArea {
    .btn {
      font-size: 1.6rem;
      color: $text-color;
      background-color: rgba(0, 92, 95,0.2);
      border-radius: 2rem;
      min-width: 6rem;
      &:hover,&:focus,&:active,&:focus-visible{
        background-color: rgba(0, 92, 95,0.2);
        color: $text-color;
      }
    }
  }
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-size: 0;
    a {
      @include svgIcon(10rem, 10rem, "../../images/common/logo.svg");
    }
  }
  .rArea {
    position: relative;
    .searchBtn {
      position: absolute;
      right: 0;
      top: .25rem;
      svg {
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
      }
    }
    #searchInput {
      position: relative;
      width: 0;
      height: 3.4rem;
      padding: 0;
      background-color: transparent;
      border-width: 0;
      box-shadow: none;
      font-size: 2.4rem;
      outline: 0;
      transition: .3s;
    }
    .open #searchInput {
      width: 30rem;
      padding: 0 6rem 0 1.5rem;
      border-width: 0 0 1px 0;
      border-color: $black;
      border-radius: 0;
    }
  }
}