#wrap {
  display: flex;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  padding-top: 10rem;

  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.inner-wrap {
  position: relative;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

section {
  & + section {
    margin-top: 10rem;
  }
}

main {
  position: relative;
  min-height: 100vh;
}

#container {
  padding: 10rem 0 20rem;
}
