#wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.inner-wrap {
    position: relative;
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
    &.narrow {max-width: 105.6rem;}
}

#main {
    position: relative;
    min-height: 100vh;
    #container {padding: 10rem 0 20rem;}
}